@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap");
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

h3 {
  margin: 0;
}

.modal {
  font-family: "Signika Negative", sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 700px;
  min-width: 400px;
  height: 50%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  background-color: beige;
  color: black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: $box-shadow;
  transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  .content {
    min-height: 100%;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;

      .title {
        font-size: 30px;
        // margin-left: 80px;
      }

      .close {
        height: 30px;
        // width: 30px;
        border-radius: 10px;
        border: none;
        background-color: rgb(62, 82, 69);
        color: white;
        align-self: flex-start;
      }
    }

    .body {
      overflow: scroll;

      .user_info {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 20px;
        font-family: "Kalam", cursive;
        font-weight: 300;

        ul {
          margin: 0;
        }

        .label {
          // font-size: 1.1em;
          margin-bottom: 15px;
          text-decoration: underline;
          // font-family: 'Kalam', cursive;
          font-weight: 700;
        }
      }

      .api_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h4 {
          font-size: 25px;
          text-align: center;
          margin: 0;
        }

        .description {
          font-size: 20px;
        }

        .photo {
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }

    .push,
    .footer {
      height: 40px;
      display: flex;
      justify-content: right;
    }
  }
}
