@import "modals.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "sidebar.scss";
@import "user-modal.scss";

:root{
  --body-bg-color: rgb(62, 82, 69);
  --body-bg-img-color: rgba(255, 255, 255, 0.25);
  --h1-color: white;
  --login-signup-bg-color: beige;
  --login-signup-color: black;

}
.app {
  margin: none;
  height: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--body-bg-img-color),
    var(--body-bg-img-color) 1px,
    transparent 1px,
    transparent 6px
  );
  font-family: "Roboto", sans-serif;
  background-size: 4px 4px;
}

.app {
  display: flex;
}

h1 {
  color: var(--h1-color);
  text-align: center;
}

.imageIcon {
  filter: grayscale(10);
  padding: 8px;
  border-radius: 30px;
  flex-shrink: 0;
  width: 106px;
  height: 148px;
  margin: 2px;
  transition-duration: 700ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: none;
  }
}

.color {
  filter: none;
}

.main {
  overflow: scroll;
}

.container {
  overflow: sroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 20px 50px;
  overflow: scroll;
  height: 70%;
}

//Landing page styling

.login-signup {
  font-family: "Signika Negative", sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 250px;
  min-width: 250px;
  height: 50%;
  min-height: 200px;
  max-height: 245px;
  display: flex;
  flex-direction: column;
  background-color: var(--login-signup-bg-color);
  color: var(--login-signup-color);
  border-radius: 20px;
  padding: 20px;
  box-shadow: $box-shadow;
  transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  h1 {
    color: var(--body-bg-color);
  }
  p {
    text-align: center;
  }
}
